<div class="alert alert-danger" role="alert">
	Your fare request could not be processed. Ensure the origin and destination are correct and in serviced areas.
</div>
<div class="fares">
	 {{fares-form submit="getFare"}}
</div>
{{outlet results}}